<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-formulario (empleadoEnviado)="handleEmpleadoEnviado($event)"></app-formulario>
    </div>
    <div class="col-8">
      <select (change)="departamentoSeleccionado($event)" class="form-control">
      	<option value="comercial">Comercial</option>
      	<option value="recursoshumanos">RRHH</option>
      	<option value="contabilidad">Contabilidad</option>
      	<option value="direccion">Dirección</option>    
      </select>
      <app-listado [lista]="listaEmpleados"></app-listado>
    </div>
  </div>
</div>